head{    
    cursor: url("../assets/images/Curseur_Souris.png"), auto;
}
body {
    margin: 0;
    padding: 0;
}
.image_logo{
    width: 10%;
}
.body-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.popupclass_ {
    display: none;
    position: fixed;
    width: 90%;
    height: 80%;
    background-image: url("../assets/images/backgroundStars.png");
    background-size: cover;
    border-radius: 10px;
    border: 10px solid violet;
    


    margin-top: 5%;
    margin-left: 4%;
}
.container{
    display: flex;
    flex-direction: column;
}

.divpage {    
    background-image: url("../assets/images/backgroundStars.png"); 
    height: 100vh;
    width: 100VW;
    justify-content: center;
    background-color: black;
}
.table_des_profiles {  
    cursor: url("../assets/images/Curseur_Souris.png"), auto;       
    height: 100vh;
    /* width: 100VW; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}
.profile:focus {     
    background-color: rgb(255, 0, 191);
    border: 10px solid greenyellow;
    color: aliceblue;
    font-size: xx-large;
    border-radius: 20px;
}

.profile:hover {     
    background-color: rgb(255, 0, 191);
    border: 10px solid green;
    color: aliceblue;
    font-size: xx-large;
    border-radius: 20px;
    justify-content: center;
}

.profile {
    cursor: url("../assets/images/Curseur_Souris.png"), auto; 
    background-color: rgb(81, 4, 116);
    width: 12vw;
    height: 40vh;
    border: 2px solid rgb(3, 3, 41);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: medium;
}

.image {
    width: 100%;
    height: 100%;
}

/* Style pour la popup */
.popupclass {
    background-image: url("../assets/images/backgroundStars.png");
    width: 80vw;
    height: 70vh; 

    display:none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 10px solid blueviolet;
    color: aliceblue;
}
#id_popup .header-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#id_popup .footer-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    top: 25px;
    right: 35px;
    cursor: pointer;
}


.container button {
    position: relative;
    border: 1px solid white;
    background-color: rgb(33, 33, 105);
    color: white;
    width: 2.5%;
    font-size: 30px;
    border-radius: 50px;
}
.container button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.prev-next-profile-btn {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
}